/* Import
----------------------------------------------------------------
*/

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
/* Variables
----------------------------------------------------------------
*/

:root {
  /* Colors: primary */
  --red: hsl(0, 100%, 66%);
  /* Gradient */
  --blue-violet: hsl(249, 99%, 64%);
  --violet: hsl(278, 94%, 30%);
  /* Colors: neutral */
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}
/* Universal
----------------------------------------------------------------
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-size: 18px;
  color: var(--very-dark-violet);
}
/* Content
----------------------------------------------------------------
*/

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.bg {
  width: 40%;
  min-height: 100vh;
  background: url(/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

/* FORM
----------------------------------------------------------------
*/

.card-information {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.card-label {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 12px;
}

.card-information input {
  border: 2px solid var(--light-grayish-violet);
  border-radius: 4px;
  padding: 12px 16px;
  transition: all 0.3s;
  margin-bottom: 32px;
  width: 100%;
  color: var(--very-dark-violet);
}

.card-information input::placeholder {
  font-size: 16px;
  color: var(--light-grayish-violet);
}

.card-information input:hover {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, var(--blue-violet), var(--violet)) 2;
  mask: /*4*/ linear-gradient(transparent 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask: /*4*/ linear-gradient(transparent 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.date-and-cvc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
}

.date-and-cvc input {
  margin-top: 12px;
}

.date-box div {
  display: flex;
  column-gap: 8px;
}

.date-box div input {
  width: 50%;
}

.card-information .btn-submit {
  padding: 16px;
  font-size: 18px;
  background: var(--very-dark-violet);
  color: var(--white);
}

.card-front {
  background: url(/images/bg-card-front.png);
  position: absolute;
  top: 20%;
  left: -30%;
  width: 447px;
  height: 245px;
  color: var(--white);
  padding: 0 32px;
}

.card-logo {
  position: absolute;
  top: 32px;
  left: 32px;
}

.card-front #card-front-number {
  font-size: 30px;
  letter-spacing: 2.5px;
  font-weight: 500;
  padding-top: 35%;
}

.card-front-info {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  font-size: 16px;
}

.card-back {
  background: url(/images/bg-card-back.png);
  position: absolute;
  top: 50%;
  left: -20%;
  width: 447px;
  height: 245px;
}

#card-back-cvc {
  position: absolute;
  top: 44.5%;
  right: 12%;
  color: var(--white);
}

/* Complete statement
----------------------------------------------------------------
*/

.complete-state {
  display: none;
}
